body{
    
    background-image: linear-gradient(to right, #df89b5 0%, #bfd9fe 100%);
}
.col-md-5{
    margin-top: 150px !important;
    padding: 20px !important;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}
input{
    margin-top: 20px;
}
button{
    float: right;
    position: relative;
    margin-top: 20px;
}
.success{
    border: 3px solid green !important;
}
.error{
    border:3px solid red !important;
}
small{
    color: red !important;
    font-weight: bold;
    margin: 5px;
    text-align: left;
}
h1{
    color: crimson;
}